
html, body{
    margin: 0;
    overflow-x: hidden;
    font-family: 'Jockey One', sans-serif;
}
//colour theme
$primary-color: #0057D8;
$secondary-color: #33B1FE;
$background-color: #FDFEFF;

// NAVBAR

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary-color;
    color: $background-color;
   width:100%;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
    font-size: 1.4rem;
    transform: scale(1.5);
    
  }
  .nav-first, .nav-end {
    display: flex;
    align-items: center;
   
  }
  

  #nav-logo {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 5vh;
    margin-top: 7px;
    transform: translateY(6px)scale(6);
    height: 20px;
  }

a {
    text-decoration: none;
    color: $background-color;
    margin: 0 3rem;
  }
  
  .nav-links a.active {
    background-color: $secondary-color; /* Change the color to your desired background color */
    color:$background-color; /* Change the text color to ensure readability */
  }

.container {
  margin: 20px 0px;
}
  // HOMEPAGE STYLES
  .banner-wrapper {
    margin: 0px 5px;
  }
  .main-banner {
    background-color: $secondary-color;
    
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
 
    overflow: hidden;
  }

  .banner-left {
    background-color: $secondary-color;
    color: $primary-color;
    text-align: center;
  }

  .banner-left,.banner-right {
    display: table-cell;
    flex:1;
    width: 50%;
    height: 100%;
    text-align: center;
  }

  .banner-right {
   justify-content: flex-start;
  margin:-10px 0px
  }
  .banner-right:hover {
    cursor: pointer;
  }

  .banner-right:hover .overlay-text {
    display: block;
  opacity: 50%;
}
  .overlay-container {
    position: absolute;
   
    // justify-content: center;
    // align-items: center;
     width: 100%;
  }
  
  .overlay-text {
    display: none;
    width: 53%;
    color: white; /* Set the text color */
    font-size: 32px; /* Adjust the font size */
    overflow: hidden;
  }
  
  .banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary-color;
  }

  .info-title {
    color: $primary-color;
    margin-left: 3rem;
  }

  .banner2 {
    background-color: $secondary-color;
    padding: 5rem;
  }

  .banner p {
    color: $background-color;
  }

  .sponsors {
    width: 20%;
    margin: 5px 20px;
    filter:grayscale(100%);
  }

  .img-banner {
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
.flag {
  width:100%;
  object-fit: cover;
  object-position: bottom; /* Adjust the position to move the image up */

}

.banner2 p {
  margin: 2rem;
  font-size: 2rem;
}

.banner2 div {
  width: 100%;
}
#map {
  border: solid 1px transparent;
  width: 100%;
  height: 300px;
}

#map:hover {
  border: solid 1px $primary-color
}

  // footer 
  .footer {
    margin-top: 10px;
    display:flex;
    align-items: center;
    justify-content: center;
  }

  .logo-insta {
    display: block;
    width:30%;
    align-items: center;
    justify-content:center ;
    text-align: center;
  }

  #footer-logo {
    width: 100%;
  }